$primary-color: #542e27;
$secondary-color: #eb9c45;
$accent-color: #33cc33;
$accent-color2: #0f9900;
$bg-color: #DBF0D9;
$fontmain: 'Montserrat', sans-serif;
// $fontmid: 'HelveticaMid', sans-serif;
// $fontbold: 'HelveticaBold', sans-serif;
$fontsize: 18px;

@mixin button {
    margin-bottom: 1%;
    padding: 0.7rem;
    font-family: $fontmain;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 65px;
    background: linear-gradient(90.00deg, rgb(51, 204, 51), rgb(15, 153, 0) 100%);
    cursor: pointer;

    &:active {
        box-shadow: rgb(15, 153, 0, 0.3) 3px 3px 3px 3px;
    }
}

// @font-face {
//     font-family: 'HelveticaMid';
//     src: url(/assets/fonts/HelveticaNeueCyr-Medium.ttf) format('ttf'),
//             url(/assets/fonts/HelveticaNeueCyr-Medium.woff) format('woff');
// }

// @font-face {
//     font-family: 'HelveticaRom';
//     src: url(/assets/fonts/HelveticaNeueCyr-Roman.ttf) format('ttf'),
//         url(/assets/fonts/HelveticaNeueCyr-Roman.woff) format('woff');
// }

// @font-face {
//     font-family: 'HelveticaBold';
//     src: url(/assets/fonts/HelveticaNeueCyr-Bold.ttf) format('ttf'),
//         url(/assets/fonts/HelveticaNeueCyr-Bold.woff) format('woff');
// }

@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-size: $fontsize;
}


/* ПОДАРКИ начало */
.section_gifts {
    margin: 2%;
    font-family: $fontmain;
    line-height: 1.5;
    text-align: center;

    button {
        @include button();
        max-width: 80%;
        align-self: center;
    }

    i {
        margin-right: 5px;
        color: $secondary-color;
    }
}

.socials {
    i {
        margin-top: 1rem;
        margin-right: 20px;
        font-size: 40px;
        
        &:hover {
        transform: scale(1.2);
        }
    }
}

.section_gifts__subscribe {
    position: relative;
    background-color: transparent;
}

.section_gifts__subscribe::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: -20px;
    width: 35px;
    height: 31px;
    background-image: url(/assets/images/circle.png);
    z-index: -1;
}

.section_gifts__gift {
    position: relative;
    background-color: transparent;
}

.section_gifts__gift::before {
    content: " ";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 110px;
    height: 47px;
    background-image: url(/assets/images/ellipse.png);
    z-index: -1;
}
/* ПОДАРКИ конец */

/* КНОПКА ВВЕРХ */
.totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: rgb(15, 153, 0, 0.5);

    &:hover {
        color: $accent-color2;
    }

    i {
        font-size: 40px;
    }
}
/* КНОПКА ВВЕРХ */


/* ФУТЕР начало */
.footer {
    margin-top: 3%;
    padding: 3%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: $fontmain;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: $accent-color2;
    background-color: $bg-color;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: $accent-color2;
    }

    i {
        margin-right: 10px;
        font-size: 40px;
    }

    div {
        margin-bottom: 5%;
    }

    .footer__workhours {
        .footer__workhours-time {
            margin-left: 50px;
        }
    }
}

.footer__contact {
    @media screen and (max-width: 768px){
        text-align: center;
    }
}
/* ФУТЕР конец */