@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  font-size: 18px;
}

/* Главная страница начало*/
.main {
  margin: 2%;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-align: left;
  padding: 0px 100px;
  font-weight: 400;

}

.spicok {
  color: #0f9900;
  text-decoration: underline;
}


.main_text1{
  line-height: 2em;
  margin-bottom: -20px; 
}

.main_text__text2{
  line-height: 2em;
  margin-bottom: -10px; 
}

.main_text__text3{
  line-height: 2em;
  margin-bottom: -10px; 
}

.main_text__text4{
  line-height: 2em;

}

/* Главная страница конец*/
